#    **Python Basic - Module 03 (Theory)**


1.	 What is Python, and why is it popular?
Ans:- Python is general purpose programming language. Python is popular as it’s a powerful, flexible and beginner friendly language. Also another reason is it’s readability, extensive libraries and wide range of applications.
2.	What is an interpreter in Python?
Ans:- In python, an interpreter is a program that reads and executes python code line by line. It has interpreters like CPython which uses various optimizations including catching byte codes to cut down the interpretation run time which makes it faster than the other interpreters.
3.	¬What are pre-defined keywords in Python?
Ans:- Keywords are special reserved words in python that have special meanings and are used to define the syntax of language. The few keywords are –  
•	True
•	False
•	if
•	else
•	elif
•	while

4.	Can keywords be used as variable names?
Ans:- No, keywords cannot be used as variable names.
5.	What is mutability in Python?
Ans:- In Python mutability means when the user can change the change the value or state of an object even after its creation. It means the value is not being saved in memory, hence we can add, remove or change the element of the object. The mutable data types are – i) List, ii) dict, iii) set, e.t.c
6.	Why are lists mutable, but tuples are immutable?
Ans:- Lists are mutable because there primary purpose is to represent collection of items that are expected to change overtime, this makes it a highly flexible data structure for collections that require frequent addition, removal or modification.
Tuples are immutable because there primary purpose is to be in a guaranteed state with predictable behavior as it is designed for developers to print a specific form of data which is fixed.
7.	What is the difference between “==” and “is” operators in Python?
Ans:- In Python, “==” and “is” are both comparison operators but they served different fundamental purposes where “==” is used for compare values and “is” is  use to compare identities as per memory operators.
8.	What are logical operators in Python?
Ans:- In Python, logical operators are used to combine conditional statements and to perform logical operations. They are crucial for controlling the flow of your program based on multiple conditions. Some examples are – “and”, “or”, “not”.
9.	What is type casting in Python?
Ans:- In Python, type casting refers to the process when an user can convert the data type of an variable  into another data type. For example if you have an input as string and you need that as a int or float data type, you can convert that into int or float.
10.	 What is the difference between implicit and explicit type casting?
Ans:- In implicit casting the python interpretable automatically decide the conversion of the data type. However, in explicit casting the user manually decides or converts the data type. This is the main difference between implicit and explicit type casting.
11.	What is the purpose of conditional statements in Python?
Ans:- The purpose of conditional statements in python is to control the flow of execution. It acts depending on whether the given condition is True or False. e.x – if(), else(), elif().
12.	How does the elif statement work?
Ans:- In python, elif statement is short for else if. It’s a part of conditional statement which allows you to execute multiple condition sequentially after using one if statement.
13.	What is the difference between for and while loops?
Ans:-b For loop is primarily used for iteration over a sequence or for a predetermined number of times like a list, tuple etc. Where the while loop is used to repeatedly execute a block of code as long as a certain condition remains true.
14.	Describe a scenario where a while loop is more suitable than a for loop.
Ans:- Suppose a user needs to enter a specific type of input, like a password and you want to keep prompting them repeatedly until they provide valid input. You don’t know how many attempts the user will need -
If we use a while loop here we can predefined sequence or range, which doesn’t fit this “keep going until valid” cause we don’t know that how many times the user will enter the incorrect password. The loop needs to continue as long as the input is invalid. This is a valid while loop.

# **Practical Questions**

1. Write a Python program to print "Hello, World!"

In [ ]:
print("Hello, World!")

Hello, World!

2. Write a Python program that displays your name and age.

In [ ]:
Name= "Sweta"
Age= 22
print("My name is ", Name)
print("My age is ", Age)

My name is  Sweta
My age is  22

3. Write code to print all the pre-defined keywords in Python using the keyword library

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. Write a program that checks if a given word is a Python keyword.

In [10]:
import keyword

def a(word):
    return keyword.iskeyword(word)

word = "No"
if a(word):
    print(f"'{word}' is a Python keyword.")
else:
    print(f"'{word}' is NOT a Python keyword.")

'No' is NOT a Python keyword.

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [ ]:
#List

list=[20,30,50,"Camera","Sweta"]
print(list)

[20, 30, 50, 'Camera', 'Sweta']

In [ ]:
list[3]="Picture"
print(list)

[20, 30, 50, 'Picture', 'Sweta']

In [ ]:
# Tupple

Nature=("River", "Sky", "Ocean", "Tree")
print(Nature)

('River', 'Sky', 'Ocean', 'Tree')

In [ ]:
Nature[2]="Waves"
print(Nature)

TypeError: 'tuple' object does not support item assignment

6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [1]:
def test_args(x, lst):
    x += 1
    lst.append(99)

a = 10
b = [1, 2, 3]

test_args(a, b)

print("a:", a)
print("b:", b)

a: 10
b: [1, 2, 3, 99]

 7.Write a program that performs basic arithmetic operations on two user-input numbers.

In [ ]:
a= int(input("Enter the first number: "))
b= int(input("Enter the second number: "))
Addition= a+b
Subtraction= a-b
Multiplication= a*b
Division= a/b
print(f"The sum of 2 num is {Addition}")
print(f"The sub of 2 num id {Subtraction}")
print(f"The mul of 2 num is {Multiplication}")
print(f"The div of 2 num is {Division}")

Enter the first number: 25
Enter the second number: 5
The sum of 2 num is 30
The sub of 2 num id 20
The mul of 2 num is 125
The div of 2 num is 5.0

 8.Write a program to demonstrate the use of logical operators.

In [ ]:
a= True
b= False
a and b

False

In [ ]:
a or b

True

9.Write a Python program to convert user input from string to integer, float, and boolean types

In [ ]:
a= "10"
type(a)

str

In [ ]:
a= int(a)
print(a)
type(a)

10

int

In [ ]:
a= float(a)
print(a)
type(a)

10.0

float

In [ ]:
a= bool(a)
print(a)
type(a)

True

bool

 10.Write code to demonstrate type casting with list elements.

In [4]:
Num=[23,25,65,47]
print("This is an example of a list:", Num)

This is an example of a list: [23, 25, 65, 47]

In [7]:
#Showing the value with explicit casting
x =Num[3]
x = float(x)
print(x)

47.0

In [9]:
type(x)

float

11. Write a program that checks if a number is positive, negative, or zero.

In [1]:
Number= int(input("Enter a number"))
if Number>=0:
  if Number==0:
    print("Zero")
  else:
    print("The number is positive")
else:
  print("The number is negative")

Enter a number45
The number is positive

12. Write a for loop to print numbers from 1 to 10.

In [2]:
a= list(range(1,11))

for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50

In [11]:
a= list(range(1,51))
b= []

for i in a:
  if i%2==0:
    b.append(i)
print(sum(b))
print(b)

650
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

14. Write a program to reverse a string using a while loop.

In [ ]:
def x(s):

    a = ""
    b = len(s) - 1

    while b >= 0:
        a += s[b]
        b -= 1
    return a

result= x("Sweta")
print(result)

15.Write a Python program to calculate the factorial of a number provided by the . user using a while loop.

In [11]:
factorial = 1
i = 1
a = int(input("Enter a non-negative integer to calculate its factorial: "))
while i <= a:
  factorial *= i
  i += 1
print(f"The factorial of {a} is {factorial}")

Enter a non-negative integer to calculate its factorial: 5
The factorial of 5 is 120